<div class="container-fluid">
  <div id="users_list">

    <% @users.each do |user| %>

      <div class="row">

        <div class="pic_container col-xs-6 col-sm-6">
          <div class="profile_pic">
            <img src="<%= user.pic_url %>">
          </div>
        </div>

        <div class="info_container col-xs-6 col-sm-6">
          <div class="user_info">
            <p><h4>Name:</h4> <%= user.name %></p><br>
            <p><h4>Email:</h4> <%= user.email %></p><br>
          </div>
        </div>

      </div>

      <hr>

    <% end %>

  </div>
</div>
