  <div class="row text-center" id="welcome-img">
        <img src="/mac_and_cheese_bowl.jpg" class="img-circle">
  </div>


  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h1>No apples found here.<br>Strictly Mac & Cheese Megaflow.<h1></div>
    <div class="col-xs-2"></div>
  </div>


