  <div class="row text-center" id="welcome-img">
        <img src="http://www.womansday.com/cm/womansday/images/kk/07-mac-cheese-lgn.jpg" class="img-circle">
  </div>


  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h1>No apples found here.<br>Strictly Mac & Cheese Megaflow.<h1></div>
    <div class="col-xs-2"></div>
  </div>


